<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <form role="form" method="post" id="submit-form">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" />
            <div class="input-group-btn">
              <button type="submit" class="btn">Search</button>
            </div>
            <!-- /btn-group -->
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </form>
  </div>
</nav>




<div class="table-responsive-lg">
  <table class="table" id="query-results">

  </table>
</div>

<script src="javascripts/indexClient.js"></script>







{{!-- 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
  <div class="col-xs-12">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Global Search</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar" method="post" id="submit-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search">
        </div>
        <button type="submit" class="btn btn-default" id="submit">submit</button>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </div>
  </div>
</nav> --}}