<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" method="post" id="search-form">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search..." id="search-input">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-btn">Go</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive-lg">
    <table class="table" id="search-results">

    </table>
</div>

<script src="javascripts/indexClient.js"></script>